<%= render 'breadcrumbs', current: link_to('Viewing Motion', [@group, @motion]) %>

<p>
  <strong>Author:</strong>
  <%= @motion.author.display_name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @motion.text %>
</p>

