<ol class="breadcrumb">
  <li><%= link_to 'Home', '/' %></li>
  <li><%= link_to 'Manage Groups', groups_path %></li>
  <% if defined? current %>
    <li class="active"><%= current %></li>
  <% end %>
</ol>
